doctype html
html
	head
		title = title + ' | ' + appname
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src = 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/deleteTask.js')
	body
	
		h2 TO DO APP
		
		include navigation
		
		block content
